* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
}


/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    font-size: 14px;
    cursor: pointer;
}

.sale {
    color: red;
}

.icons span {
    margin-left: 15px;
    cursor: pointer;
}


/* HERO  */
.hero img {
    width: 100%;
    height: auto;
    display: block;
}


/* GENERAL SECTIONS */
.section {
    padding: 70px 80px;
    text-align: center;
}

.grey {
    background: #f5f5f5;
}

.subtitle {
    margin-top: 10px;
    color: #666;
    font-size: 15px;
}


/* FULL WIDTH IMAGE */
.full-image {
    margin-top: 40px;
}

.full-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/* PRODUCTS */
.products-section {
    padding: 70px 80px;
}

.products-title {
    text-align: center;
    margin-bottom: 40px;
}

/* Horizontal Scroll Container */
.products-container {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* Hide scrollbar (optional clean look) */
.products-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    min-width: 250px;  /* important */
    flex: 0 0 auto;
}

.product-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.product-card h4 {
    margin-top: 10px;
    font-size: 15px;
}

.product-card p {
    color: #666;
    margin-top: 5px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    padding: 60px 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-container h4 {
    margin-bottom: 15px;
}

.footer-container p {
    font-size: 14px;
    margin-bottom: 8px;
    color: #ccc;
}

.copyright {
    text-align: center;
    font-size: 13px;
    color: #888;
}